<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit 'sign up' %>
<% end %>
<p><%= link_to 'Already have an account?', login_path %></p>
